*{
  font-family:Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-indent:0px;
  margin:0px;
  padding:0px;
  color:#0;
}

canvas{
    position: absolute;
    left:     0px;
    top:      0px;
    width:100%;
    height:100%;
    z-index: -1;
}

.i-container {
  margin-top:20px;
  background-color: #0000000;
}

.i-p {
  background-color: #0000000; 
}

.section{
    text-align:center;
    font-size:150%
}
#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:#fff;
    background: rgba(255,255,255, 0.5);
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
}

.section {
    font-size: 16px;
}
